table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
    color: #333333;
}

th {
    background-color: #4CAF50; 
    color: white;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
